@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gara";
  src: url("/fonts/gara.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gara";
  src: url("/fonts/gara-italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gara";
  src: url("/fonts/gara-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Yapari";
  src: url("/fonts/Yapari-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Yapari";
  src: url("/fonts/Yapari-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Yapari";
  src: url("/fonts/Yapari-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Yapari";
  src: url("/fonts/Yapari-ExtraBold.ttf");
  font-weight: 800;
}
